


.center{
    display: block;
    width: 130px;
    margin: 10px auto;
}
.container-form {
  display: flex;
 
  width: 500px;
  background-color: #596f79;
  align-items: center;

  border-radius: 5px;
  padding: 20px;
}
.mat-form-field {
  margin-right: 20px;
}
#banner {
    display: block;
    padding: 10px;
    background-color: white;
    background: url(../../assets/score-logo.png) no-repeat center fixed;
    min-width: 100%;
    min-height: 100%;
    height: 100px;
    width: 100px;
}