<header>

    <p class="greeting"> Welcome {{ userData.firstName }} :)
    <br>
    SCORE Movies Fan! 
    </p>

</header>

<img class="logo" src="../../assets/score-logo.png">
 
<md-card class="search-card">
    <!--search icon-->
    <i class="material-icons search">search</i>
        <md-form-field class="search-field">
            <input [(ngModel)]="userMovieSearch" mdInput
            placeholder="Enter Movie Title"
            (keyup.enter)="movieSearch()">
        </md-form-field>
</md-card>
      
<div id="main-grid">
    
    <div id="left-col"> {{ userData.firstName }} SCORE Movies
    
        <md-card class="movie-card"
        *ngFor="let movie of userData.movies; let i = index">
            {{ movie.title }} 
            <br>
            SCORE: {{ movie.score }}
            <i class="material-icons fav" 
            (click)="removeFavMovie(i)">remove_circle</i>
        </md-card>
        
        <md-card class="movie-card"
        *ngFor="let movie of favMovies; let i = index"> 
        <!--let i = index is for removeFavMovie(i)-->
             {{ movie.title }} <br>
             SCORE: {{ movie.score }}
             <!--add remove icon from favorites list-->
            <i class="material-icons fav" 
            (click)="removeFavMovie(i)">remove_circle</i>
        </md-card>
    </div>
    
    <div id="search-col">
        <br>
        <md-card class="movie-card"
            *ngIf="searchNotFound">
            {{ searchNotFound }}
        </md-card>
        
        <div class="image-container">
        <md-card class="movie-card" 
        *ngFor="let movie of searchResult">
            <img md-card-image src='http://image.tmdb.org/t/p/w185//{{ movie.poster_path }}' alt="Photo Not Found"> <br>
            {{ movie.title }} <br>
            {{ movie.overview }} <br>
            SCORE: {{movie.vote_average }}
            <!--add heart icon too add to favorites list-->
            <i class="material-icons fav" 
            (click)="addFavMovie(movie)">favorite</i>
        </md-card>
        </div>
    </div>
</div>
