#main-grid {
    color: white;
    background-color: white;
    margin: 0 auto;
    height: 100%;
    width: 95vw;
    display: grid;
      /* autoprefixer: off */
    grid-template-columns:  20% 80%;
    grid-gap: 10px;
    grid-template-rows: 20px repeat( 5, 20% );
    grid-gap: 15px;
}

#left-col{
    background-color: #f44336;
    padding: 25px;
    /* autoprefixer: off */
    /*grid-column: 2;*/
    grid-column-start: 1;
    grid-column-end: 2;
    /*grid-row: 2 / 5;*/
}

#search-col{
    
    background-color: #f44336;
    padding: 25px;
    /*grid-column: 4;*/
    
    /*grid-row: 2 / 5;*/
    grid-column-start: 2;
    grid-column-end: 3;
}

.image-container {
    display: grid;
    grid-row: 1 / 8;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.greeting {
    font-weight: bold;
    font-size: larger;
    color: #f44336;
    text-align: right;
}

/*.navbar {*/
/*    margin-left: 0;*/
/*    margin-right: 0;*/
/*    padding: 0;*/
/*    list-style-type: none;*/
/*    display: inline;*/
/*    text-align: right;*/
/*    color: #f44336;*/
/*    font-weight: bold;*/

/*}*/

.logo {
    display: block;
    margin: 0 auto; 
    max-width: 400px; 
    /*max-width this makes it smaller*/
}

.movie-card {
    margin: 20px auto;
}

.fav {
    margin: 0 25px;
}

.search-card { 
   text-align: center;
}