<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar color="primary">
  {{title}}
</md-toolbar>

<div id="main-grid">
    
    <div id="left-col"> Your SCORE Movies
        <div *ngFor="let movie of favoriteMovies">
             {{ movie.title }}
        </div>
    </div>
    
    <div id="center-col">Trending SCORE Movies
        <md-card class="movie-card"
            *ngFor="let mockmovie of movieData">
            {{ mockmovie.title }} <br>
            Score: {{ mockmovie.average_vote }}
        </md-card> 
    </div>
    
    <div id="right-col">Search SCORE Movies
        <md-form-field class="search-field">
            <input [(ngModel)]="userMovie" mdInput
                placeholder="Movie Title"
                (keyup.enter)="movieSearch()"> 
        </md-form-field>
        <div *ngFor="let movie of searchResult"
            (click)="addFavMovie(movie)">
            {{ movie.title }} <br>
            Score: {{movie.vote_average }}
        </div>
    </div>
</div>