

.example-container > * {
  width: 100%;
}
.container-form {
  display: flex;
  flex-direction: column; 
  width: 100%;
  height: 100%;
  background-color: #596f79;
  /*background: url(../../assets/score-logo.png) no-repeat;*/
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
}