img {
    width: 100%;
    height: auto;
}
div.logo {
    margin: 0 auto; 
    width: 300px; 
    height: auto;
    
    /*max-width this makes it smaller*/
}

.container-form {
  display: flex;
  width: 200px;
  height: 100%;
  flex-wrap: nowrap;
  background-color: #f44336;
  /*background: url(../../assets/score-logo.png) no-repeat;*/
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
}